body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(93,162,240);
    background: linear-gradient(41deg, rgba(93,162,240,1) 11%, rgba(169,165,249,1) 53%, rgba(28,190,223,1) 99%);
}

header h1 {
    color: aliceblue;
    text-shadow: 4px 4px 4px #a1a1a1aa;
}

.search-button {
    margin-left: 5px;
    border: 1.2px solid #7d8086;
    border-radius: 2.5px !important;
}

#today {
    border: 1px solid #707277;
}

#forecast {
    border: 1px solid #707277;
}