body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
/* header section */

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 4px 4px rgba(125, 151, 203, 0.25);
    background: linear-gradient(45deg, #4b6cb7 -100%, #182848 110%);
}

header > h1 {
    color: aliceblue;
    text-shadow: 2px 2px 2px #6362627e;
}

/* text style */

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1rem;
}

h2 {
    margin: 25px 15px;
    font-size: 25px;
}

/* Search form section */

.search {
    text-align: center;
    margin-top: 0.5rem;
}

#search-input {
    margin: auto;
    display: block;
    width: 235px;
}

/* Search button */

#search-button, #historybutton {
  margin: 9px 15px;
  background-color: #fff;
  border: 0.5px solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 0.5;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 2px 4px 4px rgba(125, 151, 203, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#search-button:hover, #historybutton:hover {
  background-color: #1e293b;
  color: #fff;
}

/* Forecast section */
/* Currernt */

.current {
    margin-left: 30px ;
    text-align: start;
    font-weight: 800;
    line-height: 1.5rem;
}

#today > #thedate {
    margin-top: 1.2rem;
    font-size: 28px ;
    float: left;
    display: inline;
}

#today > img {
    margin-bottom: -1.2rem;
    width: 90px;
    display: block;
}

#today {
    border-bottom: 0.2px solid #979797;
}

/* 5 Day Forecast */

.forecastcon {
    text-align: start;
}

#forecast {
    justify-content: space-evenly;
}

.forecastdiv {
    text-align: start;
    padding: 10px 23px;
    border-radius: 1.3rem;
    box-shadow: 2px 4px 4px rgba(125, 151, 203, 0.25);
    background: linear-gradient(45deg, #4b6cb7 -100%, #182848 110%);
}

.forecast {
    margin: 11px 1px ;
    font-size: 14px ;
    font-weight: 600;
    color: #ffffff;
}

.forecastdiv > img {
    width: 70%;
    display: block;
}

.fa-calendar-days {
    float: right;
  }